{% extends 'base.html.twig' %}

{% block body %}
	<main class="p-6">
		<h1 class="text-2xl font-bold mb-4">Liste des utilisateurs</h1>

		<table class="w-full table-auto">
			<thead class="bg-gray-200">
				<tr>
					<th class="px-4 py-2">Id</th>
					<th class="px-4 py-2">Nom</th>
					<th class="px-4 py-2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr class="text-center">
						<td class="border px-4 py-2">{{ user.id }}</td>
						<td class="border px-4 py-2">{{ user.username }}</td>
						<td class="border px-4 py-2">
							<a href="/modify/{{user.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer">Modifier</a>
							<a href="/delete/{{user.id}}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<form method="post" class="mt-8">
			<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
			<input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John">
			<input type="submit" value="Créer un utilisateur" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer mt-4">
		</form>
	</main>
{% endblock %}
