{% extends 'base.html.twig' %}

{% block body %}
	<main class="p-6">
		<h1 class="text-2xl font-bold mb-6">Edit Utilisateurs :
			{{ user.username }}</h1>
		<form method="post">
			<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nouvel Utilisateur</label>
			<input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John">
			<input type="submit" value="Modifier l'utilisateur" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer mt-4">
		</form>
	</main>
{% endblock %}
